apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-{{ .Chart.Name }}
  labels:
    app: {{ .Release.Name }}-{{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-{{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-{{ .Chart.Name }}
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
    spec:
      volumes:
       - name: {{ .Release.Name }}-{{ .Chart.Name }}-config-mnt
         configMap:
           name: {{ .Release.Name }}-{{ .Chart.Name }}-config
           items:
           - key: config.toml
             path: config.toml
      containers:
      - name: {{ .Release.Name }}-{{ .Chart.Name }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        ports:
         - containerPort: 8080
        volumeMounts:
         - name: {{ .Release.Name }}-{{ .Chart.Name }}-config-mnt
           mountPath: /opt/tegola_config/config.toml
           subPath: config.toml
        args:
          - "serve"
          - "--config=/opt/tegola_config/config.toml"
      restartPolicy: Always